@mixin font-title () {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
}

@mixin font-text () {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

@mixin font-list () {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}

$background-page: #2A2C2F;

.page {
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  background: $background-page;
  height: 100vh;
    &__content {
      margin: 0 auto;
    }
}

.content {
  max-width: 1280px;
    &__header {
      padding-top: 28px;
    margin: 0 auto;
    }
    &__footer {
      padding-bottom: 24px;
      margin: 0 auto;
    }
}

.header {
  width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    &__list-link {
      padding: 0 0 5px 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: end;
    }
    &__lang-link {
      align-self: end;
      @include font-text ();
      text-align: right;
      font-size: 24px;
      line-height: 28px;
      text-decoration: none;
        &_active {
          text-decoration-line: underline;
          margin-right: 18px;
        }
    }
}

.main {
  &__lead {
    padding: 56px 0 92px 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &__intro {
    padding-bottom: 92px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &__photo-grid {
    margin: 0 auto;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  &__places {
    margin: 0 auto;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  &__cover {
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 92px;
  }
}

.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
    &__title {
      margin: 0;
      max-width: 720px;
      @include font-title();
      font-weight: 900;
      font-size: 96px;
      line-height: 1.04;
      text-align: center;
    }
    &__subtitle {
      margin: 32px 0 64px 0;
      max-width: 640px;
      @include font-text();
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }
    &__figure {
      width: 100%;
      margin: 0;
    }
    &__image {
      width: 100%;
      object-fit: cover;
    }
    &__caption {
      display: inline-block;
      margin-top: 8px;
      @include font-text();
      font-size: 10px;
      line-height: 1.4;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
}

.intro {
  max-width: 984px;
    &__title {
      max-width: 690px;
      margin: 0;
      @include font-title();
      font-size: 54px;
      line-height: 58px;
    }
    &__text {
      max-width: 690px;
      margin: 40px 0 33px 0;
      @include font-text();
      font-size: 16px;
      line-height: 163%;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include font-list();
    }
    &__list-item {
      @include font-text();
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
    }
    &__num-thin {
      font-weight: 400;
    }
}

.photo-grid {
      &__wrap {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        margin: 0 auto;
        max-width: 1184px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
        gap: 16px;
        justify-content: center;
      }
      &__image {
        width: 100%;
        display: block;
    }
}

.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  overflow: hidden;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas: 
  "title website"
  "image paragraphs";
  column-gap: 40px;
  row-gap: 48px;
  &__title {
    margin: 0;
    @include font-title();
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
  }
  &__website {
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-self: flex-end;
    grid-area: website;
  }
  &__url-heading {
    margin: 0;
    @include font-text();
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
  }
  &__link {
    @include font-text();
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-line: underline;
  }
  &__paragraphs {
      padding: 0;
      margin: 0;
      list-style-type: none;
      max-width: 484px;
      grid-area: paragraphs;
    }
  &__paragraph {
    margin: 0;
    max-width: 484px;
    @include font-text();
    font-size: 18px;
    line-height: 163%;
    &:nth-child(2) {
      margin-top: 26px;
    }
  }
  &__image {
    width: 100%;
    object-fit: cover;
    grid-area: image;
  }
}


.cover {
  max-width: 1184px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  min-height: 740px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,1);
      opacity: 0.3;
      z-index: -1;
      transition: opacity 200ms ease-in-out;
    }
    &:hover:before {
      opacity: 0.8;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
    }
    &__title {
      @include font-title();
      font-size: 72px;
      line-height: 76px;
      text-align: center;
      margin: 0 0 32px 0;
      max-width: 560px;
    }
    &__subtitle {
      @include font-text();
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin: 0;
      max-width: 360px;
    }
}

.footer {
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
    &__nav-link {
      @include font-text();
      font-size: 16px;
      line-height: 18px;
      text-decoration: none;
      margin-right: 18px;
        &:last-of-type {
          margin: 0;
        }
    }
    &__copyright {
      margin: 0;
      @include font-text();
      font-size: 14px;
      line-height: 16px;
    }
}
// Media

@media screen and (max-width: 1280px) {
  .content {
    &__header {
      width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
    }
    &__footer {
      width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
    }
  }
  .main {
    &__lead {
      padding-top: calc(48px + (56 - 48) * ((100vw - 1024px) / (1280 - 1024)));
    }
    &__places {
    padding-bottom: calc(80px + (92 - 80) * ((100vw - 1024px) / (1280 - 1024)));
    }
    &__cover {
      padding-bottom: calc(100px + (92 - 100) * ((100vw - 1024px) / (1280 - 1024)));
    }
  }
  .lead {
    max-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
      &__subtitle {
        margin-bottom: calc(56px + (64 - 56) * ((100vw - 1024px) / (1280 - 1024)));
      }
  }
  .intro {
    max-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
  }
  .photo-grid {
    &__wrap {
      max-width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
      gap: calc(14px + (16 - 14) * ((100vw - 1024px) / (1280 - 1024)));
    }
  }
  .places {
    max-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
  }

  .place {
    grid-template-columns: calc(440px + (460 - 440) * ((100vw - 1024px) / (1280 - 1024))) calc(456px + (484 - 456) * ((100vw - 1024px) / (1280 - 1024)));
    column-gap: calc(32px + (40 - 32) * ((100vw - 1024px) / (1280 - 1024)));
  }
  .card {
    min-height: calc(640px + (740 - 640) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .content {
    &__header {
      width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
    }
    &__footer {
      width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
    }
  }
  .main {
    &__lead {
      padding-bottom: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));
      padding-top: 48px;
    }
    &__photo-grid {
      padding-bottom: calc(88px (92 - 88) * ((100vw - 768px) / (1024 - 768)));
    }
    &__places {
      // padding-bottom: 79px;
      padding-bottom: calc(88px + (100 - 88) * ((100vw - 768px) / (1024 - 768)));
    }
    &__cover {
      // padding-bottom: 100px;
      padding-bottom: calc(88px + (100 - 88) * ((100vw - 768px) / (1024 - 768)));
    }
  }
  .lead {
    &__caption {
       margin-left: calc(24px + (0 - 24) * ((100vw - 768px) / (1024 - 768)));
    }
    &__subtitle {
       margin-bottom: 56px;
    }
  }
  .intro {
    width: calc(720px + (984 - 720) * ((100vw - 768px) / (1024 - 768)) );
    padding-bottom: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));
      &__title {
      max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
      }
      &__text {
      max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
      }
  }
  .photo-grid {
    &__wrap {
      max-width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
      gap: calc(16px + (14 - 16) * ((100vw - 768px) / (1024 - 768)));
    }
  }
  .places {
    max-width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
    gap: calc(70px + (80 - 70) * ((100vw - 768px) / (1024 - 768)));
  }
  .place {
    grid-template-columns: calc(340px + (440 - 340) * ((100vw - 768px) / (1024 - 768))) calc(352px + (456 - 352) * ((100vw - 768px) / (1024 - 768)));
    column-gap: calc(28px + (32 - 28) * ((100vw - 768px) / (1024 - 768)));
      &__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
        line-height: calc(46px + (76 - 46) * ((100vw - 768px) / (1024 - 768)));
      }
      &__paragraph {
        font-size: calc(16px + (18 - 16) * ((100vw - 768px) / (1024 - 768)));
        &:nth-child(2) {
          margin-top: calc(25px + (26 - 25) * ((100vw - 320px) / (1024 - 320)));
        }
      }
  }
  .card {
    min-height: calc(480px + (640 - 480) * ((100vw - 768px) / (1024 - 768)));
      &__subtitle {
        max-width: calc(360px + (560 - 360) * ((100vw - 768px) / (1024 - 768)));
      }
  }
}

@media screen and (max-width: 768px) {
  .content {
    &__header {
      max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
      padding-top: calc(16px + (28 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    &__footer {
      max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    }
  }
  .main {
    &__lead {
      padding-top: 48px;
      padding-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    }
    &__intro {
      width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
      padding-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    }
    &__photo-grid {
      padding-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    }
    &__cover {
      padding-bottom: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    }
  }
  .lead {
    &__caption {
      margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    &__title {
      font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
      line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (768 - 320)));
      max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    }
    &__subtitle {
      margin-top: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
      margin-bottom: calc(40px + (56 - 40) * ((100vw - 320px) / (768 - 320)));
      font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
      line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (768 - 320)));
      max-width: calc(288px + (640 - 288) * ((100vw - 320px) / (768 - 320)));
    }
  }
  .intro {
      &__title {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(35px + (58 - 35) * ((100vw - 320px) / (768 - 320)));
      }
      &__text {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
      }
  }
  .photo-grid__wrap {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    gap: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
  }
  .place {
    &__title {
      padding-right: 10px;
    }
  }
  .card {
    min-height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));
      &__title {
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (768 - 320)));
        margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
        max-width: calc(288px + (560 - 288) * ((100vw - 320px) / (768 - 320)));
      }
      &__subtitle {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (768 - 320)));
        max-width: calc(288px + (360 - 288) * ((100vw - 320px) / (768 - 320)));
      }
  }
}

@media screen and (max-width: 650px) {
  .main {
    &__places {
      padding-bottom: calc(66px + (90 - 66) * ((100vw - 320px) / (650 - 320)) );
    }
  }
  .places {
    gap: calc(60px + (72 - 60) * ((100vw - 320px) / (650 - 320)));
  }
  .place {
    display: flex;
    flex-direction: column;
    row-gap: calc(32px + (48 - 32) * ((100vw - 320px) / (650 - 320)));
      &__title {
        font-size: calc(32px + (42 -32) * ((100vw - 320px) / (650 - 320)));
        padding: 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320))) 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320)));
        line-height: calc(35px + (46 - 35) * ((100vw - 320px) / (650 - 320)));
      }
      &__website {
        align-self: flex-start;
        padding: 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320))) 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320)));
      }
      &__image {
        grid-area: image;
      }
      &__paragraphs {
        padding: 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320))) 0 calc(16px + (0 - 16) * ((100vw - 320px) / (650 - 320)));
      }
      &__paragraph {
        font-size: 16px;
      }
  }
  .footer {
    flex-direction: column;
    &__nav {
      display: flex;
      flex-direction: column;
      margin-bottom: calc(48px + (0 - 48) * ((100vw - 320px) / (650 - 320)));
    }
    &__nav-link {
      margin: 0 0 calc(32px + (0 - 32) * ((100vw - 320px) / (650 - 320))) 0;
      font-size: calc(24px + (16 - 24) * ((100vw - 320px) / (650 - 320)));
      line-height: calc(24px + (18 - 24) * ((100vw - 320px) / (650 - 320)));
    }

  }
}

@media screen and (max-width: 475px) {
  .header {
    &__logo {
      width: calc(142px + (176 - 142) * ((100vw - 320px) / (475 - 320)));
    }
    &__lang-link {
      font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (475 - 320)));
      line-height: calc(20px + (28 - 20) * ((100vw - 320px) / (475 - 320)));
    }
  }
}

@media screen and (max-width: 320px) {
  .main {
    &__lead {
      padding-top: 48px;
    }
  }
  .intro {
    &__title {
      padding-right: 37px;
    }
  }
}