.header__lang-link {
  align-self: end;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

@media screen and (max-width: 475px) {
  .header__lang-link {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (475 - 320)));
    line-height: calc(20px + (28 - 20) * ((100vw - 320px) / (475 - 320)));
  }
}