.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
  }
}