.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas: 
  "title website" 
  "image paragraphs";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: calc(440px + (460 - 440) * ((100vw - 1024px) / (1280 - 1024))) calc(456px + (484 - 456) * ((100vw - 1024px) / (1280 - 1024)));
    column-gap: calc(32px + (40 - 32) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(340px + (440 - 340) * ((100vw - 768px) / (1024 - 768))) calc(352px + (456 - 352) * ((100vw - 768px) / (1024 - 768)));
    column-gap: calc(28px + (32 - 28) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 650px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: calc(32px + (48 - 32) * ((100vw - 320px) / (650 - 320)));
  }
}