.card__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px 0;
  max-width: 560px;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (768 - 320)));
    margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
    max-width: calc(288px + (560 - 288) * ((100vw - 320px) / (768 - 320)));
  }
}