.intro__title {
  max-width: 690px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (58 - 35) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    padding-right: 37px;
  }
}